.forms{
    background-color: rgb(255, 240, 232);
    width: 1050px;
    position: fixed;
    bottom:1vw;
    right: 35vh;
    font-weight: 700; 
    z-index: 20;
}
.formsOff{
    transition: 0.5s;
    opacity: 0;
    visibility:hidden;
}  
.caseForms{
    margin-right: 17px;
}
.closedForm{
    background-color: transparent;
    border: none;
    font-size: 25px;
}
.formsOff{
    transition: 0.5s;
    opacity: 0;
    visibility:hidden;
} 
.divA{
    border-right: rgb(122, 97, 84) solid 3px;
}
.closedForm{
    color:rgba(10, 10, 10, 0.575);
}
.closedForm:hover{
    color: black;
}