#panier{
    width: 800px;
    height: 500px;
    background-color: rgba(228, 228, 248, 0.883);
    position: sticky;
    position: fixed;
    bottom: 15vh;
    z-index: 7;
    transition: 0.5s;
}
.panierOff{
    transition: 0.5s;
    opacity: 0;
}
.paiement{

    font-weight: 700;
    font-size: 25px;
    padding: 10px;
    border: none;
    background-color: #FC4A1A;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.close{
    pointer-events:none;
}