


.first{
    display: flex !important;
    justify-content: center;
    align-items: center;

    height: 5vh;
    width: 5vh;
    border-radius: 5px;
    background-color: #4ABDAC !important;
}

.modalHeader{
    background-color:  #F7B733 ;
    color:  #FC4A1A;
   margin: 0px;
}

.image{
    border: 1px #F7B733 solid ;
    margin: 10px;
   
}

.body{
    background-color: #FC4A1A;
    margin: 0px;
    padding: 0px;
}
.texte{

    background-color: #FC4A1A;
    color: #F7B733;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0px 5px 0px 5px;
    

}

.modalFooter{
    background-color:  #F7B733 ;
}

.btnModal{
    
    background-color:  #4ABDAC;
}